@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
$font-base: "Open Sans", sans-serif;

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-base;
  font-size: 10px;
  background-color: rgb(233, 233, 233);
}

a {
  text-decoration: none;
}
