.container {
  max-width: 900px;
  margin: 0 auto;

  .user-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

    & input {
      width: 500px;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid #1976d2;
      outline: none;
      font-size: 1.2rem;
    }
  }
}
