.nav-bar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1976d2;

  & h1 {
    color: white;
    font-weight: 600;
    font-size: 2rem;
  }
}
