.user {
  &-container {
    display: flex;
    justify-content: flex-start;
  }

  &-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid rgb(192, 191, 191);
  }

  &-name {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 10px;
  }

  &-checkbox {
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
}
